* {
    margin: 0;
    padding: 0;
}

header{
    background: rgba(0, 0, 0, .25);
    display: flex;
}
#logo{
    width: 100px;
    height: 50px;
    background: rgba(0, 0, 0, .25);
}

nav{
    background: rgba(0, 0, 0, .25);
}

nav ul li{
    display: inline;
}

#hero{
    background: rgba(0, 0, 0, .25);
}
#articles{
    background: rgba(0, 0, 0, .25);
}
footer{
    background: rgba(0, 0, 0, .25);
}